@charset "UTF-8";
@font-face {
  font-family: "Montserrat Black";
  src: url("../../assets/fonts/Montserrat/Montserrat-Black.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Black Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Bold Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Bold Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Light Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Light Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Semi Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Semi Bold Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Thin";
  src: url("../../assets/fonts/Montserrat/Montserrat-Thin.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Thin Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf")
    format("truetype");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  margin: 0px;
  padding: 0px;
}
