@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  margin: 0px;
  padding: 0px;
}
