@charset "UTF-8";
@font-face {
  font-family: "Montserrat Black";
  src: url("../../assets/fonts/Montserrat/Montserrat-Black.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Black Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Bold Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Bold Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Extra Light Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Light Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Semi Bold";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Semi Bold Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Thin";
  src: url("../../assets/fonts/Montserrat/Montserrat-Thin.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat Thin Italic";
  src: url("../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf")
    format("truetype");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 97%;
}

/* grid system */
.row {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.col-3-6 {
  flex: 0 0 30%;
}
.col-2-6 {
  flex: 0 0 45%;
}
.col-1-6 {
  flex: 0 0 25%;
}

/* LOGO */
.logo {
}
.logo img {
  height: 80px;
  padding: 2% 0 2% 25%;
}

/*Rename full-width*/
/* NAV */
.full-width {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

nav ul.full-width {
  list-style-type: none;
  padding: 0px;
}

nav a {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: block;
  font-family: "Montserrat Medium";
  padding-left: 10%;
}

/* PROFILE */
.profile {
  color: var(--primary-text-color);
  background-color: rgb(8, 164, 188); /*  --primary-gradient is not working */
  position: relative;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: "Montserrat Semi Bold";
}
.profile-name {
  font-size: 14px;
}
.profile-date {
  padding-top: 4px;
  font-size: 12px;
}

.profile-time {
  font-family: "Montserrat Regular";
  font-size: 18px;
  padding-top: 4px;
}

.profile img {
  position: absolute;
  top: 15px;
  left: -25px;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--primary-color);
}
